.navbar-nav
{
    margin-left: auto;
}

.navbar-light.bg-light
{
    background-color: rgba(26, 26, 26, 0.158) !important;
}

.navbar-light.navbar-nav.nav-link
{
    color: white;
}

html, body
{
    font-family: Helvetica;
}

